<div class="vehicle-details">
    <!-- Vehicle Title and Image -->
    <div class="vehicle-title">
        <h1><%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
        <img src="<%= vehicle.inv_image %>" class="vehicle-image" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
    </div>    
    
    <div id="VDSlicer">
        <!-- Vehicle Detail Subheading -->
        <div class="vehicle-detail-heading">
            <h2><%= vehicle.inv_make %> <%= vehicle.inv_model %> Details</h2>
        </div>
        
        <!-- Price -->
        <div class="vehicle-detail">
            <p><strong>Price:</strong> $<%= vehicle.inv_price.toLocaleString('en-US') %></p>
        </div>
        
        <!-- Description -->
        <div class="vehicle-detail">
            <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
        </div>
        
        <!-- Color -->
        <div class="vehicle-detail">
            <p><strong>Color:</strong> <%= vehicle.inv_color %></p>
        </div>
        
        <!-- Mileage -->
        <div class="vehicle-detail">
            <p><strong>Mileage</strong> <%= vehicle.inv_miles.toLocaleString('en-US') %></p>
        </div>
    </div>

</div>